*{
    margin: 0;
    padding: 0;
     font-family: "Poppins", sans-serif;
     box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items:center ;
    min-width: 100vh;
    background: url('image.png') no-repeat;
    background-size:cover ;
    
}
header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    Z-index: 99;


}

.input-box input{
    width:300px;
    height:30px;
    padding:5px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}



.logo{   
  
    position: relative;
    font-size: 50px;
    color: #fff;
}
      


.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight:500;
    margin-left:40px;

}


.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
     transform: scaleX(0);
     transition: .5s;
     transition: transform .5s;
}
.navigation .bntLogin-popup{
    width: 130px;
    height: 50px;
     background: transparent;
     border: 2px solid #fff;
     outline: none;
     border-radius: 6px;
     cursor: pointer;
     font-size: 1.1em;
     color: #fff;
     font-weight: 500;
     margin-left: 40px;

}

.navigation a:hover::after{
    transform-origin: left ;
    transform: scaleX(1);
}


.navigation .bntLogin-popup:hover{
    background:#fff;
    color: black;  }

    .wrapper{
    position: relative;
    top: 350px;
    color:blanchedalmond
}



.input-box{
    position:rela=


}



